Babel==2.6.0
dj-database-url==0.4.2
Django==1.11.10
django-bootstrap3==9.1.0
django-debug-toolbar==1.9.1
django-js-asset==1.0.0

docutils==0.14
gunicorn==19.7.1
jmespath==0.9.3
mock==2.0.0
pbr==3.1.1
psycopg2==2.7.4
python-dateutil==2.6.1

pytz==2018.3

six==1.11.0
sqlparse==0.2.4
urllib3==1.26.5
whitenoise==3.3.1
