{% extends "userrating/base.html" %}

{% block title %}{{ purchase.title }}{% endblock %}

{% block content %}
<div class="container">
	<h1>{{ purchase.title }}</h1>
	<p>SELLER: {{purchase.seller}}</p>
	<p>DATE: {{purchase.created}}</p>


{% if not review and show %}
	<input type='button' id='hideshow' value='Add Rating' class="btn btn-info">
	<div id="edit_form">	
		<div class="reviewform">
			<form action="." method="post">
				{% csrf_token %}
			    {{ form.as_p }}
			    <button class="btn btn-info" type="submit">Submit Review</button>
			</form> 
		</div>
	</div>	
{% elif review and show %}
	<p>Rating: {{ review.rating }} stars</p>
	<a class="btn btn-info" href="{% url 'userrating:purchase_review_edit' pk=purchase.pk %}">Edit Rating</a>	 	   
{% endif %}
	</div>	
{% endblock %}